.TrainerDetails {
  height: 100vh;
  background-color: #fff;
  .TrainerDetails--topText {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
  }
  .TrainerDetails--topCointainer {
    width: 95%;
    margin-left: 3%;
    height: 20%;
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;

    .content {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
    }
    .topContainer--Title {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
      font-size: 24px;
      margin-top: 3%;
    }
    // .topContainer--Stars {
    //   margin-left: -50%;
    //   margin-top: 1%;
    // }

    .info {
      color: rgb(80, 78, 78);
      font-size: .75rem;
    }

    .topContainer--Avatar img{
      border-radius: 50%;
    }
  }
  .TrainerDetails--MidContainer {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: .5rem 0;
    max-height: 50%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-height: calc(100% - 60%);

    .opinions{
      overflow: scroll;
      padding: 1rem 0;
    }
    .Opinion--button {
      // width: 5rem;
      margin: .25rem 5rem;
      // width: 50%;
      border-radius: 5px;
      border: solid transparent;
      background-color: #3498db;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
  }
  .TrainerDetails--BottomContainer {
    width: 85%;
    margin-left: 7.5%;
    margin-top: 5%;
    height: 10%;
    border-radius: 15px;
    display: flex;
    justify-content: center;

    .BottomContainer--lbutton {
      border: solid transparent;
      width: 45%;
      background-color: #3498db;
      color: #fff;
      height: 65%;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-top: 4%;
      margin-left: 4%;
    }

  }
  .rateButton {
    border: solid transparent;
    width: 45%;
    background-color: #3498db;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
  }

  .disabledButton {
    border: solid transparent;
    width: 45%;
    background-color: rgb(218, 215, 215);
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: rgb(180, 180, 180);
  }

}

