.TrainerDetails {
  height: 100vh;
  background-color: #fff;
  .TrainerDetails--topText {
    font-family: "Montserrat", sans-serif;
    color: rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-weight: bold;
    margin-top: 5%;
  }
  .TrainerDetails--topCointainer {
    width: 95%;
    margin-left: 3%;
    margin-top: 3%;
    height: 20%;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;

    .topContainer--Title {
      font-weight: bold;
      color: rgba(0, 0, 0, 0.8);
      font-size: 24px;
      margin-top: 3%;
      margin-left: -45%;
    }
    .topContainer--Stars {
      margin-left: -50%;
      margin-top: 1%;
    }
    .topContainer--LData {
      text-align: left;
      margin-left: 3%;
      margin-top: 2%;
      color: rgba(0, 0, 0, 0.5);
    }
    .topContainer--RData {
      text-align: right;
      margin-right: 40%;
      margin-top: -20.5%;
    }
    .topContainer--Avatar {
      margin-top: -30%;
      margin-left: 63%;
      border-radius: 50%;
    }
    .topContainer--Avatar img{
      border-radius: 50%;
    }
  }
  .TrainerDetails--MidContainer {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: .5rem 0;
    max-height: 40%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-height: calc(100% - 60%);

    .opinions{
      overflow: scroll;
      padding: 1rem 0;
    }
    .Opinion--button {
      // width: 5rem;
      margin: .25rem 5rem;
      // width: 50%;
      border-radius: 5px;
      border: solid transparent;
      background-color: #3498db;
      color: #fff;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
    }
  }
  .TrainerDetails--BottomContainer {
    background-color: rgb(44, 44, 44);
    width: 85%;
    margin-left: 7.5%;
    margin-top: 5%;
    height: 10%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

    .BottomContainer--lbutton {
      border: solid transparent;
      width: 45%;
      background-color: #3498db;
      color: #fff;
      height: 65%;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-top: 4%;
      margin-left: 4%;
    }
    .BottomContainer--rbutton {
      border: solid transparent;
      width: 45%;
      background-color: #45525c;
      color: #fff;
      height: 65%;
      border-radius: 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      font-size: 20px;
      margin-top: 4%;
      margin-right: 4%;
    }
  }
  .rateButton {
    border: solid transparent;
    width: 45%;
    background-color: #3498db;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
  }
}

