.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
venv
docs.zip
archive.zip
*.db
*.sqlite

# vim temporary files
*~
.*.sw?

/src/project.db
.pydevproject
.settings
.project
env*
public
apps_static
*.log
*.pot
*.pyc
sqlite3.db
db.sqlite3
*.db
db.*
wsgi_local*
settings_local.py
settings_local_pipelines.py
project/celery_local.py
project/settings_testing_local.py
logs/
smarty/
celerybeat-*
dump.rdb
media/
src/*
.cache
.coverage
.uwsgi.pid
.virtualenvs/
project.sock
static/theme/sass/custom/.sass-cache/*
static/init-firebase-local.js
qrcode.svg
.venv
.vscode
.docker_env.dev