$blue: #3498db;
$black: #000;
$white: #fff;
$lightblue: #aec7ea;
$darkgreen: #42945e;
$green: #6ecc8e;
$darkpink: #de38b9;
$pink: #eeafe0;

.ModalAddSlot {
  background-color: #aec7ea;
  position: absolute;
  width: 80%;
  height: 36%;
  margin-left: 10%;
  margin-top: -100%;
  border-radius: 10px;
  border-style: solid;
  .AddSlotForm {
    .CloseModal {
      position: absolute;
      left: 87%;
      width: 8%;
      background-color: rgb(0, 0, 0);
      color: #fff;
      border-radius: 5px;
      font-family: "Montserrat", sans-serif;
    }
    .AddSlotForm--title {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      color: rgb(78, 78, 78);
      margin-top: -2%;
    }
    .starttime {
      margin-top: 5%;
    }
    .endtime {
      margin-top: 3%;
      font-family: "Montserrat", sans-serif;
      color: rgb(99, 99, 99);
      .endTimeTime {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        color: #000;
        margin-top: 1%;
        font-size: 18px;
      }
    }
    span {
      font-family: "Montserrat", sans-serif;
      font-weight: regular;
      color: rgb(78, 78, 78);
      margin-left: 9%;
    }
    .selectt {
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      width: 105%;
      margin: 0 auto;
      margin-top: 2%;
      margin-left: -2.5%;
    }
    .selectt select {
      margin: 0.25rem 1.5rem;
      border: 1px solid $blue;
      background-color: $white;
      border-radius: 0.5rem;
      padding: 0.5rem 0.25rem;
    }

    .select-react {
      width: 80%;
    }
    .AddWalkButton {
      border-radius: 12px;
      background-color: #3498db;
      border: solid transparent;
      color: #fff;
      width: 50%;
      height: 35px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      margin-top: 2%;
    }
  }
}
