$blue: #3498DB;
$black: #000;
$white : #fff;

.BookWalk{
    background-color: #F3F3F3;
    height: 100vh;
    .BookWalk--topText{
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        padding: 0.5rem;
    }
    .BookWalk--select{
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
    }
    .BookWalk--select select{
        margin: .25rem 1.5rem;
        border: 1px solid $blue;
        background-color: $white;
        border-radius: .5rem;
        padding: .25rem;
    }
    .BookWalk--select span{
        margin: 0 1.5rem;
        font-weight: 600;
    }
}