$blue: #3498db;
$black: #000;
$white: #fff;
$lightblue: #aec7ea;

.BookWalk {
  background-color: #f3f3f3;
  height: 100vh;
  .BookWalk--topText {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    padding: 0.5rem;
  }
  .BookWalk--select {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
  }
  .BookWalk--select select {
    margin: 0.25rem 1.5rem;
    border: 1px solid $blue;
    background-color: $white;
    border-radius: 0.5rem;
    padding: 0.25rem;
  }
  .BookWalk--select span {
    margin: 0 1.5rem;
    font-weight: 600;
  }
  .BookWalk--availableWalks {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .BookWalk--availableWalks span {
    font-weight: 300;
    font-size: 0.75rem;
  }
  .BookWalk--availableWalksChoose {
    background-color: $lightblue;
    margin: 0.25rem 0;
    padding: 0.5rem;
    border-left: 0.5rem solid $blue;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  h5 {
    margin: 0;
  }
  .line {
    margin: 0rem 0.5rem;
    border-right: 1px solid $blue;
    height: 2rem;
  }
  .BookWalk--button button {
    border: none;
    background-color: $blue;
    color: $white;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }
  .BookWalk--info {
    text-align: left;
  }
  .BookWalk--box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
