.EditAvatar {
  height: 100vh;
  display: flex;
  background-color: #fff;

  .EditAvatar--topText {
    width: 100%;
    margin-top: 0.3rem;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
  }
  .LeftSideBardog {
    margin-left: 6%;
    margin-top: 14%;
    height: 60%;

    .LeftSideBar--avatar {
      display: flex;
    }

    img {
      border-radius: 50%; // to tez nie dziala
    }

    .LeftSideBar--buttonContainer {
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      justify-content: space-between;
      height: 15%;

      .LeftSideBar-button {
        background-color: #bdc3c7;
        border: solid transparent;
        border-radius: 5px;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        height: 2rem;
        width: 90%;
      }

      .LeftSideBar-button:active {
        background-color: #bdc3c7;
        border: solid 3px #3498db;
        border-radius: 5px;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        height: 2rem;
      }
    }
  }
  .RightSideContainer {
    margin-left: 5%;
    margin-top: 15%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 39%;
    background-color: #3498db;

    h3 {
      font-family: "Montserrat", sans-serif;
      color: rgba(255, 255, 255, 1);
    }

    .RightSideContainer--avatar {
      display: flex;
      justify-content: center;
    }
    .RightSideContainer--avatar img {
      border-radius: 50%;
    }

    .RightSideContainer--form {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: row;
      padding: 0.5rem;
    }

    .RightSideContainer--AvatarChange {
      display: flex;
      justify-content: center;
    }
    input[type="file"] {
      display: none;
    }
    .RightSideContainer--fileUpload {
      cursor: pointer;
      margin-top: 3rem;
      background-color: #dcdcdc;
      padding: 0.25rem;
      border-radius: 0.25rem;
    }
    .RightSideContainer--url {
      background-color: #dcdcdc;
      padding: 0.25rem;
      border-radius: 0.25rem;
      border: none;
      font-family: "Montserrat", sans-serif;
    }
  }
}
