.EditAccount {
  height: 100vh;
  display: flex;
  background-color: #fff;

  .EditAccount--topText {
    width: 100%;
    margin-top: 0.3rem;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
  }
  .LeftSideBar {
    margin-left: 6%;
    margin-top: 14%;
    height: 90%;

    .LeftSideBar--avatar {
      display: flex;
    }

    img {
      border-radius: 50%;
    }

    .LeftSideBar--buttonContainer {
      display: flex;
      flex-direction: column;
      margin-top: 10%;
      justify-content: space-between;
      height: 15%;

      .LeftSideBar-button {
        background-color: #bdc3c7;
        border: solid transparent;
        border-radius: 5px;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        height: 2rem;
        width: 90%;
      }

      .LeftSideBar-button:active {
        background-color: #bdc3c7;
        border: solid 3px #3498db;
        border-radius: 5px;
        font-size: 1rem;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        height: 2rem;
      }
    }
  }

  .RightSideContainer {
    margin-left: 5%;
    margin-top: 35%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    height: 11%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .RightSideButton {
      background-color: #3498db;
      border-radius: 15px;
      border: solid transparent;
      width: 80%;
      height: 40px;
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: #fff;
    }
  }
}
