.OpinionModal {
  background-color: grey;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;

  .modalTitle {
    color: #eee;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 2%;
  }

  .modalContent {
    color: #eee;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: regular;
    margin-top: 2%;

    input[type="text"] {
      background-color: #fff;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #000;
      font-size: 20px;
      height: 100%;
      outline: 0;
      padding: 5px 20px 0;
      width: 90%;
    }
  }
  .opinionButton {
    background-color: #3498db;
    border-radius: 5px;
    border: solid transparent;
    height: 2rem;
    width: 8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 2%;
    color: #fff;
    margin-bottom: 3%;
  }
}
